@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --gizzmo-grad-1: linear-gradient(135deg,#141e30,#243b55);
    --gizzmo-grad-2: linear-gradient(135deg,#0F2027,#2C5364,#203A43);
    --gizzmo-grad-3: linear-gradient(135deg,#1a2a6c,#b21f1f,#fdbb2d);
    --gizzmo-grad-anim-duration: 6000ms;
}

.animated-gradient-cycle { background: var(--gizzmo-grad-1); animation: heroGradientCycle var(--gizzmo-grad-anim-duration) linear infinite; background-size:300% 300%; }
@keyframes heroGradientCycle { 0%{background:var(--gizzmo-grad-1);} 33%{background:var(--gizzmo-grad-2);} 66%{background:var(--gizzmo-grad-3);} 100%{background:var(--gizzmo-grad-1);} }

/* Scrollbar */
body::-webkit-scrollbar { width:8px; }
body::-webkit-scrollbar-track { background:#000; }
body::-webkit-scrollbar-thumb { background:#aaa; border-radius:6px; }
body::-webkit-scrollbar-thumb:hover { background:#fff; }